# standard files created by Windows and Mac
Thumbs.db
.DS_Store

# bin directories of our projects
*/bin/

# gen directories of our projects
*/src-gen/

# User specific files and folders of Xcode
project.xcworkspace/
xcuserdata/

