# standard files created by Windows and Mac
Thumbs.db
.DS_Store

# bin directories of our projects
ReferenceProject/bin


# gen directories of our projects
ReferenceProject/src-gen 

# User specific files and folders of Xcode
project.xcworkspace/
xcuserdata/

